<h1 class="bg-red-700">ホームページ</h1>

<br/>
<%= link_to "ユーザー追加", usersContact_path, class: "bg-red-700" %>

<br/>
<%= link_to "ユーザー一覧画面", usersIndex_path, class: "bg-red-700" %>
<br/>
<%= link_to "会社追加", companyContact_path, class: "bg-red-700" %>
<br/>

<%= link_to "会社一覧画面", companyIndex_path, class: "bg-red-700" %>